.box{
    height:100px;
    width:100px;
    border:1px solid black;
    margin: 8px;
    text-align: center;
    background-color: deeppink;
}
.content{
    color:red;
}
.newclass{
    background-color: green;
}